<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人主页</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        .box {
            width: 100%;
            display: block;
            background: #CCC;
        }
    </style>
</head>

<body>
    <%if(projectId){%>
        <ul class="box">
            <li>asdfdsaf</li>
        </ul>
        <%} else {%>
            <ul class="box">
                页面正在加紧开发中。。。。
            </ul>
            <%}%>


</body>

</html>